<!DOCTYPE html>
<html>

<head>
  <!---CSS-->
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}" />
  <!-- DataTables Editor CSS -->
  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/dt/dt-1.11.5/editor-2.0.6/datatables.min.css" />
  <!-- DataTables Editor JS -->
  <script type="text/javascript"
    src="https://cdn.datatables.net/v/dt/dt-1.11.5/editor-2.0.6/datatables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
</head>

<body>
  <div class="navbar">
    <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
    <a href="{{ url_for('about') }}" class="navbar-item">About</a>
    <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a>
    <a href="{{ url_for('master_data') }}" class="navbar-item">MANAGE</a>
  </div>
  <div class="body-content">
    {% block content %}
    {% endblock %}
    <hr />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <footer>
      <p>&copy; 2023</p>
    </footer>
  </div>
</body>

</html>