{% extends "layout.html" %}
{% block content %}
    <head>
        <title>Master Data Search</title>
        <script>
        $(document).ready(function () {
            $('#master-table').DataTable({
                searching: true,
                searchWildcard: true,
                responsive: {
                    details: {
                        type: 'column',
                        target: -1
                    }
                },
                columnDefs: [
                    {
                        className: 'control',
                        orderable: true,
                        targets: -1
                    },
                    {
                        responsivePriority: 1,
                        targets: [0, 1, 2, 3, 4]
                    },
                    {
                        responsivePriority: 2,
                        targets: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
                    },
                    {
                        width: '100px', // Set the fixed width for all columns
                        targets: '_all'
                    }
                ],

                ajax: {
                    url: "{{ url_for('master_data') }}",
                    type: "POST",
                    processing: true,
                    serverSide: true
                },
                columns: [
                    {
                        "data": "ID", "render": function (data, type, row, meta) {
                            return '<a href="/master_record/' + data + '">Record</a>';
                        }
                    },
                    { "data": "AN" },
                    { "data": "Model" },
                    { "data": "SN" },
                    { "data": "NOM" },
                    { "data": "LOC" },
                    { "data": "Facility" },
                    { "data": "MANUFACTURE" },
                    { "data": "COST" },
                    { "data": "STANDARD" },
                    { "data": "CYCLE" },
                    { "data": "PROC" },
                    { "data": "CAL DATE" },
                    { "data": "NOTE" },
                    { "data": "SPECIAL CAL" },
                    { "data": "DUE" }
                ]
            });
        });
        </script>
    </head>
    <body>
        <h2>Master list</h2>
        <table id="master-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>AN</th>
                    <th>Model</th>
                    <th>SN</th>
                    <th>NOM</th>
                    <th>LOC</th>
                    <th>FACILITY</th>
                    <th>MANUFACTURE</th>
                    <th>COST</th>
                    <th>STANDARD</th>
                    <th>CYCLE</th>
                    <th>PROC</th>
                    <th>CAL DATE</th>
                    <th>NOTE</th>
                    <th>SPECIAL CAL</th>
                    <th>DUE</th>
                </tr>
            </thead>
        </table>
        {% if overdue_table %}
            <h2>OVERDUE LIST</h2>
            <table id="overdue_table">
                <thead>
                    <tr>
                        <th>MID</th>
                        <th>DATE</th>
                        <th>NOM</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in overdue_table %}
                        <tr>
                            <td>
                                <a href="{{ url_for('master_record', master_id=result['master_id']) }}">{{ result['master_id'] }}</a>
                            </td>
                            <td>{{ result['due_date'] }}</td>
                            <td>{{ result['NOM'] }}</td>
                        </tr>    
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </body>
    {% endblock content %}
