{% extends "layout.html" %}
{% block content %}

<head>
    <title>Master Data Search</title>
</head>

<body>
    <h1>Enter Equipment ID</h1>
    <form method="POST">
        <label for="ID">MID:</label>
        <input type="text" id="master_id" name="master_id" required><br><br>
        <button type="submit" name="MID_search">Search Data</button>
    </form>
    <h2>Master list</h2>
    <table id="master-table">
        <thead>
            <tr>
                <th>AN</th>
                <th>Model</th>
                <th>SN</th>
                <th>NOM</th>
                <th>LOC</th>
                <th>CAL DATE</th>
                <th>DUE</th>
                <th>CYCLE</th>
                <th>MANUFACTURE</th>
                <th>PROC</th>
                <th>SPECIAL CAL</th>
                <th>NOTE</th>
                <th>COST</th>
                <th>STANDARD</th>
                <th>Facility</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {% for row in master_search %}
            <tr>
                <td><a href="/master_results/{{ row['ID'] }}"> {{ row['ID'] }} </a></td>
                <td>{{ row['AN'] }}</td>
                <td>{{ row['Model'] }}</td>
                <td>{{ row['SN'] }}</td>
                <td>{{ row['NOM'] }}</td>
                <td>{{ row['LOC'] }}</td>
                <td>{{ row['CAL DATE'] }}</td>
                <td>{{ row['DUE'] }}</td>
                <td>{{ row['CYCLE'] }}</td>
                <td>{{ row['MANUFACTURE'] }}</td>
                <td>{{ row['PROC'] }}</td>
                <td>{{ row['SPECIAL CAL'] }}</td>
                <td>{{ row['NOTE'] }}</td>
                <td>{{ row['COST'] }}</td>
                <td>{{ row['STANDARD'] }}</td>
                <td>{{ row['Facility'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}