{% extends "layout.html" %}
{% block content %}

<head>
	<title>Data Results</title>
	<script>
		$('form').submit(function(event) {
			event.preventDefault();
			$.ajax({
				type: 'PUT',
				url: "{{ url_for('master_record', master_id=master_id) }}",
				data: $('form').serialize(),
				success: function(response) {
					$('.alert-success').remove();
					$('form').prepend('<div class="alert alert-success">{{ message }}</div>');
				},
				error: function() {
					$('.alert-danger').remove();
					$('form').prepend('<div class="alert alert-danger">An error occurred while updating the master record.</div>');
				}
			});
		});
	</script>
</head>

<body>
	<h1>Data Results</h1>
	<p>Master ID: {{ master_id }}</p>
	<!-- Show Master record -->
	{% if master_results %}
	<table id="master_table">
		<thead>
			<tr>
				<th>ID</th>
				<th>AN</th>
				<th>Model</th>
				<th>SN</th>
				<th>NOM</th>
				<th>LOC</th>
				<th>CAL DATE</th>
				<th>DUE</th>
				<th>CYCLE</th>
				<th>MANUFACTURE</th>
				<th>PROC</th>
				<th>SPECIAL CAL</th>
				<th>NOTE</th>
				<th>COST</th>
				<th>STANDARD</th>
				<th>Facility</th>
				<th>TYPE</th>
			</tr>

		</thead>
		<tbody>
			{% for result in master_results %}
			<tr>
				<td>{{ result['ID'] }}</td>
				<td>{{ result['AN'] }}</td>
				<td>{{ result['Model'] }}</td>
				<td>{{ result['SN'] }}</td>
				<td>{{ result['NOM'] }}</td>
				<td>{{ result['LOC'] }}</td>
				<td>{{ result['CAL DATE'] }}</td>
				<td>{{ result['DUE'] }}</td>
				<td>{{ result['CYCLE'] }}</td>
				<td>{{ result['MANUFACTURE'] }}</td>
				<td>{{ result['PROC'] }}</td>
				<td>{{ result['SPECIAL CAL'] }}</td>
				<td>{{ result['NOTE'] }}</td>
				<td>{{ result['COST'] }}</td>
				<td>{{ result['STANDARD'] }}</td>
				<td>{{ result['Facility'] }}</td>
				<td>{{ result['TYPE'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
	<br />
	<!-- Show Test record -->
	{% if test_results %}
	<table id="test_table">
		<thead>
			<tr>
				<th>UNIT</th>
				<th>NOM</th>
				<th>ACTUAL</th>
				<th>TOL</th>
				<th>LOWTOL</th>
				<th>MAXTOL</th>
				<th>ERROR</th>
				<th>PASS</th>
				<th>TEMP</th>
				<th>HUMIDITY</th>
				<th>TECH</th>
				<th>CAL_DATE</th>
			</tr>
		</thead>
		<tbody>
			{% for row in test_results %}
			<tr>
				<td>{{ row['UNIT'] }}</td>
				<td>{{ row['NOM'] }}</td>
				<td>{{ row['ACTUAL'] }}</td>
				<td>{{ row['TOL'] }}</td>
				<td>{{ row['LOWTOL'] }}</td>
				<td>{{ row['MAXTOL'] }}</td>
				<td>{{ row['ERROR'] }}</td>
				<td>{{ row['PASS'] }}</td>
				<td>{{ row['temp'] }}</td>
				<td>{{ row['humidity'] }}</td>
				<td>{{ row['tech'] }}</td>
				<td>{{ row['cal_date'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
	<br />
	<!-- Add new test form  -->
	<form action='/master_record/{{ master_id }}' method="post">
		<input type="hidden" name="master_id" value="{{ master_id }}">
		<label for="unit">Unit:</label>
		<input type="text" name="unit" id="unit" required>
		<label for="nom">Nominal:</label>
		<input type="number" name="nom" id="nom" step="0.000000000001" required>
		<label for="actual">Actual:</label>
		<input type="number" name="actual" id="actual" step="0.000000000001" required>
		<label for="tol">Tolerance:</label>
		<input type="number" name="tol" id="tol" step="0.000000000001" required>
		<label for="temp">Temp:</label>
		<input type="number" name="temp" id="temp" step="0.1" required>
		<label for="humidity">Humidity:</label>
		<input type="number" name="humidity" id="humidity" step="0.1" required>
		<label for="tech">Tech:</label>
		<input type="text" name="tech" id="tech" required>
		<button type="submit">Add Test Result</button>
	</form>
	<br />
	<!-- Update Master form  -->
	<form action='/master_record/{{ master_id }}' method="post">
		<input type="hidden" name="master_id" value="{{ master_id }}">
		<div class="form-group">
			<label for="an">AN:</label>
			<input type="text" name="an" id="an" value="{{ master_results[0]['AN'] }}" required>
		</div>
		<div class="form-group">
			<label for="model">Model:</label>
			<input type="text" name="model" id="model" value="{{ master_results[0]['Model'] }}" required>
		</div>
		<div class="form-group">
			<label for="sn">SN:</label>
			<input type="text" name="sn" id="sn" value="{{ master_results[0]['SN'] }}" required>
		</div>
		<div class="form-group">
			<label for="nom">NOM:</label>
			<input type="text" name="nom" id="nom"  value="{{ master_results[0]['NOM'] }}" required>
		</div>
		<div class="form-group">
			<label for="loc">LOC:</label>
			<input type="text" name="loc" id="loc" value="{{ master_results[0]['LOC'] }}" required>
		</div>
		<div class="form-group">
			<label for="cal_date">Calibration Date:</label>
			<input type="date" name="cal_date" id="cal_date" value="{{ master_results[0]['CAL DATE'] }}">
		</div>
		<div class="form-group">
			<label for="due">Due:</label>
			<input type="date" name="due" id="due" value="{{ master_results[0]['DUE'] }}">
		</div>
		<div class="form-group">
			<label for="cycle">Cycle:</label>
			<input type="number" name="cycle" id="cycle" value="{{ master_results[0]['CYCLE'] }}" required>
		</div>
		<div class="form-group">
			<label for="manufacture">Manufacturer:</label>
			<input type="text" name="manufacture" id="manufacture" value="{{ master_results[0]['MANUFACTURE'] }}" required>
		</div>
		<div class="form-group">
			<label for="proc">Proc:</label>
			<input type="text" name="proc" id="proc" value="{{ master_results[0]['PROC'] }}" required>
		</div>
		<div class="form-group">
			<label for="special_cal">Special Cal:</label>
			<input type="text" name="special_cal" id="special_cal" value="{{ master_results[0]['SPECIAL CAL'] }}" required>
		</div>
		<div class="form-group">
			<label for="note">Note:</label>
			<input type="text" name="note" id="note" value="{{ master_results[0]['NOTE'] }}" required>
		</div>
		<div class="form-group">
			<label for="cost">Cost:</label>
			<input type="number" name="cost" id="cost" value="{{ master_results[0]['COST'] }}" required>
		</div>
		<div class="form-group">
			<label for="standard">Standard:</label>
			<input type="text" name="standard" id="standard" value="{{ master_results[0]['STANDARD'] }}" required>
		</div>
		<div class="form-group">
			<label for="facility">Facility:</label>
			<input type="text" name="facility" id="facility" value="{{ master_results[0]['Facility'] }}" required>
		</div>
		<div class="form-group">
			<label for="TYPE">TYPE:</label>
			<input type="text" name="TYPE" id="TYPE" value="{{ master_results[0]['TYPE'] }}" required>
		</div>
		<button type="submit" name="action" value="update_master">Update Master Record</button>
	</form>
</body>
{% endblock content %}