{% extends "layout.html" %}
{% block content %}

<head>
	<title>Data Results</title>
</head>

<body>
	<h1>Data Results</h1>
	<p>Master ID: {{ master_id }}</p>
	<!-- Show Master record -->
	{% if master_results %}
	<table id="master_table">
		<thead>
			<tr>
				<th>ID</th>
				<th>AN</th>
				<th>Model</th>
				<th>SN</th>
				<th>NOM</th>
				<th>LOC</th>
				<th>CAL DATE</th>
				<th>DUE</th>
				<th>CYCLE</th>
				<th>MANUFACTURE</th>
				<th>PROC</th>
				<th>SPECIAL CAL</th>
				<th>NOTE</th>
				<th>COST</th>
				<th>STANDARD</th>
				<th>Facility</th>
			</tr>

		</thead>
		<tbody>
			{% for result in master_results %}
			<tr>
				<td>{{ result['ID'] }}</td>
				<td>{{ result['AN'] }}</td>
				<td>{{ result['Model'] }}</td>
				<td>{{ result['SN'] }}</td>
				<td>{{ result['NOM'] }}</td>
				<td>{{ result['LOC'] }}</td>
				<td>{{ result['CAL DATE'] }}</td>
				<td>{{ result['DUE'] }}</td>
				<td>{{ result['CYCLE'] }}</td>
				<td>{{ result['MANUFACTURE'] }}</td>
				<td>{{ result['PROC'] }}</td>
				<td>{{ result['SPECIAL CAL'] }}</td>
				<td>{{ result['NOTE'] }}</td>
				<td>{{ result['COST'] }}</td>
				<td>{{ result['STANDARD'] }}</td>
				<td>{{ result['Facility'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
	<br />
	<!-- Show Test record -->
	{% if test_results %}
	<table id="test_table">
		<thead>
			<tr>
				<th>UNIT</th>
				<th>NOM</th>
				<th>ACTUAL</th>
				<th>TOL</th>
				<th>LOWTOL</th>
				<th>MAXTOL</th>
				<th>ERROR</th>
				<th>PASS</th>
				<th>TEMP</th>
				<th>HUMIDITY</th>
				<th>TECH</th>
				<th>CAL_DATE</th>
			</tr>
		</thead>
		<tbody>
			{% for row in test_results %}
			<tr>
				<td>{{ row['UNIT'] }}</td>
				<td>{{ row['NOM'] }}</td>
				<td>{{ row['ACTUAL'] }}</td>
				<td>{{ row['TOL'] }}</td>
				<td>{{ row['LOWTOL'] }}</td>
				<td>{{ row['MAXTOL'] }}</td>
				<td>{{ row['ERROR'] }}</td>
				<td>{{ row['PASS'] }}</td>
				<td>{{ row['temp'] }}</td>
				<td>{{ row['humidity'] }}</td>
				<td>{{ row['tech'] }}</td>
				<td>{{ row['cal_date'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endif %}
	<br />
	<!-- Add new test form  -->
	<form action='/master_record/{{ master_id }}' method="post">
		<input type="hidden" name="master_id" value="{{ master_id }}">
		<label for="unit">Unit:</label>
		<input type="text" name="unit" id="unit" required>
		<label for="nom">Nominal:</label>
		<input type="number" name="nom" id="nom" step="0.000000000001" required>
		<label for="actual">Actual:</label>
		<input type="number" name="actual" id="actual" step="0.000000000001" required>
		<label for="tol">Tolerance:</label>
		<input type="number" name="tol" id="tol" step="0.000000000001" required>
		<label for="temp">Temp:</label>
		<input type="number" name="temp" id="temp" step="0.1" required>
		<label for="humidity">Humidity:</label>
		<input type="number" name="humidity" id="humidity" step="0.1" required>
		<label for="tech">Tech:</label>
		<input type="text" name="tech" id="tech" required>
		<button type="submit">Add Test Result</button>
	</form>
</body>
{% endblock %}